.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--max-width);
  max-width: 100%;
  flex: 1;
}

.grid.withResult {
  flex-direction: column;
  align-self: flex-start;
  min-width: 280px;
  flex: 0;
}

.card {
  cursor: pointer;
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}


.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.dataset {
  gap: 0;
  margin-top: 36px;
  margin-bottom: 18px;
  justify-content: flex-start;
  padding: 0 1.2rem;
}

@media (max-width: 700px) {
  .grid {
    flex-direction: column;
    flex: 0;
  }

  .card {
    padding: 0.4rem 1.2rem;
  }

  .dataset {
    gap: 4px;
  }
}