* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Arial,
    Noto Sans SC, Microsoft Yahei, sans-serif, Menlo, Consolas, monospace,
    Apple Color Emoji, Segoe UI Emoji, emoji, Helvetica Neue, Helvetica;
  color: #333333;
}

a {
  color: #0ca6f2;
  text-decoration: none;
}
