.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 4rem;
  min-height: 100vh;
}

.main.withResult {
  justify-content: flex-start;
}

.content {
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content.withResult {
  flex-direction: row;
  gap: 40px;
}

.footer > a {
  display: flex;
  align-items: center;
  line-height: 16px;
  gap: 8px;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0;
    padding-bottom: 2rem;
  }

  .content {
    margin-top: 2rem;
    padding: 1rem;
    justify-content: flex-start;
    gap: 24px;
  }

  .content.withResult {
    flex-direction: column;
  }
}